.startButton {
    border: none;
    text-decoration: none;
    cursor: pointer;
    background: #cd4f01;
    /*border-radius: 5px;*/
    padding: 10px 20px;
    color: white;
    transition: .3s;
    box-shadow: 0 5px 0 #7c3901;
}

.startButton:hover {
    background: #bf4f01;
    text-decoration: none;
    color: white;
}

.startButton:focus {
    outline: none;
}

.startButton:active {
    box-shadow: none;
    transform: translateY(5px);
}

.defaultButton {
    border: none;
    text-decoration: none;
    cursor: pointer;
    background: #cd4f01;
    /*border-radius: 5px;*/
    height: 45px;
    /*line-height: 40px;*/
    padding: 10px 20px;
    color: white;
    transition: .3s;
}
.defaultButton:hover {
    background: #bf4f01;
    color: white;
    text-decoration: none;
}
.defaultButton:focus {
    outline: none;
}

@media (max-width: 400px) {
    .defaultButton {

    }
}