.defaultInput {
    padding: 0 10px;
    line-height: 20px;
    height: 40px;
}
.defaultInput:focus {
    outline: none;
    border: 1px solid #cd4f01;
    -webkit-box-shadow: 0 0 4px 0 #cd4f01;
    box-shadow: 0 0 4px 0 #cd4f01;
}

.defaultTextArea {
    min-height: 100px;
    max-height: 200px;
}

.errorInput {
    border: 1px solid #ff0000;
    -webkit-box-shadow: 0 0 4px 0 #ff0000;
    box-shadow: 0 0 4px 0 #ff0000;
}

.defaultLabel {
    cursor: pointer;
    font-size: 17px;
    line-height: 18px;
    height: 20px;
}

.inputFormRow {
    display: grid;
    grid-template-columns: 100px 2fr;
    width: 100%;
}
.inputFormRow:not(:last-of-type) {
    margin-bottom: 20px;
}

@media (max-width: 400px) {
    .defaultInput {
        width: 150px;
        height: 32px;
        font-size: 12px;
    }
    .defaultLabel {
        font-size: 15px;
        line-height: 15px;
    }
}

@media (min-width: 401px) and (max-width: 768px) {
    .defaultInput {
        width: 200px;
    }
}

@media (min-width: 769px) {
    .defaultInput {
        width: 270px;
    }
}