.info {
    margin-bottom: 15px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modalContainer {
    top: 25%;
}

@media (max-width: 400px) {
    .buttonContainer {
        display: flex;
        flex-direction: column;
    }
}