.toolbar {
    display: flex;
    /*align-items: center;*/
    position: fixed;
    height: 68px;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.1);
    z-index: 201;
    padding: 0 8rem;
}

.toolbarNavigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.toolbarLogo {
    margin-left: 0.5rem;
    margin-right: 1rem;
}
.defaultLink {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}
.defaultLink:hover {
    color: white;
    background: rgba(170, 70, 1, 1);
    text-decoration: none;
}

.logoLink {
    color: white;
    text-decoration: none;
    font-size: 1.7em;
}
.logoLink:hover {
    text-decoration: none;
    color: white;
}

.defaultList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.toolbarNavigationItems {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navItem {
    height: 100%;
    line-height: 68px;
    padding: 0 0.5rem;
}

.spacer {
    flex: 1;
}

@media (max-width: 768px) {
    .toolbarNavigationItems {
        display: none;
    }
    .spacer {
        flex: 0;
    }
    .toolbarNavigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        padding: 0 1rem;
    }
}

@media (min-width: 769px) {
    .toggleButton {
        display: none;
    }
    .toolbarLogo {
        margin-left: 0;
    }
}